@import '@/styles/schema.css';
@import '@/styles/markdown.css';
@import 'medium-zoom/dist/style.css';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  overflow-y: scroll;
}

::selection {
  background: var(--muted);
}

.medium-zoom-overlay {
  z-index: 1100;
}

.medium-zoom-image {
  z-index: 1200;
}

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar:horizontal {
  height: 0px;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 2147483646;
}
.dark::view-transition-old(root) {
  z-index: 2147483646;
}
.dark::view-transition-new(root) {
  z-index: 1;
}
