html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  overflow-y: scroll;
}

::selection {
  background: var(--muted);
}

.medium-zoom-overlay {
  z-index: 1100;
}

.medium-zoom-image {
  z-index: 1200;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--background);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--muted);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 2147483646;
}
.dark::view-transition-old(root) {
  z-index: 2147483646;
}
.dark::view-transition-new(root) {
  z-index: 1;
}
