html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  overflow-y: scroll;
}

::selection {
  background: var(--muted);
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--muted);
  opacity: 0.75;
  position: fixed;
  z-index: 1100;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

.medium-zoom-overlay {
  z-index: 1100;
}

.medium-zoom-image {
  z-index: 1200;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--background);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--muted);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 2147483646;
}
.dark::view-transition-old(root) {
  z-index: 2147483646;
}
.dark::view-transition-new(root) {
  z-index: 1;
}
