.astro-code,
.astro-code span {
  background-color: var(--muted) !important;
}

.dark .astro-code,
.dark .astro-code span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
}

.prose {
  --un-prose-body: color-mix(in oklab, var(--foreground) 80%, transparent);
}

.dark .prose {
  --uno: prose-invert;
  --un-prose-invert-body: color-mix(in oklab, var(--foreground) 80%, transparent);
}
