.expressive-code,
.expressive-code pre,
.expressive-code span {
  background-color: var(--muted) !important;
  border-color: var(--border) !important;
}

.prose {
  --un-prose-body: color-mix(in oklab, var(--foreground) 80%, transparent);
}

.dark .prose {
  --uno: prose-invert;
  --un-prose-invert-body: color-mix(in oklab, var(--foreground) 80%, transparent);
}

.prose code {
  @apply rounded-lg p-1 bg-muted text-foreground/80;
}
.prose code::before {
  content: '';
}
.prose code::after {
  content: '';
}

.astro-code code {
  background: transparent;
}
