@media print {
  body * {
    visibility: hidden;
  }

  #prose-container,
  #prose-container * {
    visibility: visible;
  }

  #prose-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  #prose-container #print-button {
    opacity: 0;
  }

  #prose-container .table-of-contents {
    opacity: 0;
  }
}
