.prose {
  --fg-light: color-mix(in oklch, var(--muted-foreground) 75%, transparent);
  --fg: var(--muted-foreground);
  --fg-deep: color-mix(in oklch, var(--foreground) 75%, transparent);
  --fg-deeper: var(--foreground);
}

.prose .shiki {
  font-family: 'Geist Mono', 'Fira Mono', monospace;
  line-height: 1.4;
  margin: 0.5em 0;
}

.dark .shiki,
.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
}

html:not(.dark) .shiki {
  background-color: color-mix(in oklch, var(--muted) 75%, transparent) !important;
}

.shiki code {
  background: transparent !important;
}

.prose {
  color: var(--fg);
  font-size: 1rem;
  line-height: 1.75;
}

.prose p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.prose strong {
  color: var(--fg-deep);
  font-weight: 600;
}

.prose hr {
  width: 50px;
  margin: 2em auto;
  border-color: var(--border);
}

.prose a {
  color: var(--fg-deeper);
  font-weight: inherit;
  text-decoration: none;
  border-bottom: 1px solid var(--border);
  transition: border 0.3s ease-in-out;
}

.prose a:hover {
  border-bottom: 1px solid var(--fg);
}

.prose a code {
  color: inherit;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  color: var(--fg-deeper);
}

.prose h1 {
  font-weight: 800;
  font-size: 2.25em;
  margin-top: 0;
}

.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  margin-top: 1.5em;
}

.prose code {
  --uno: font-mono;
  color: var(--fg-deep);
  font-weight: 500;
  background-color: var(--accent);
  padding: 0.2em 0.3em;
  border-radius: 0.25rem;
}

.prose code::before {
  content: none;
}
.prose code::after {
  content: none;
}

.prose .shiki code {
  padding: 0;
}

.prose table {
  width: 100%;
  table-layout: auto;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 0.875em;
  line-height: 1.75;
}

.prose thead th {
  color: var(--fg-deep);
  font-weight: 600;
  border-bottom-width: 1px;
  border-bottom-color: var(--border);
}

.prose thead th {
  vertical-align: bottom;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
}

.prose tbody tr {
  border-bottom-width: 1px;
  border-bottom-color: var(--border);
}

.prose tbody tr:last-child {
  border-bottom-width: 0;
}

.prose tbody td {
  vertical-align: top;
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
}
