---
interface Props {
  class?: string
}

const { class: className = '' } = Astro.props
---

<a href="https://github.com/jinghaihan" target="_blank" rel="noopener" class={className}>
  <div class="i-tabler:brand-github hover:i-tabler:brand-github-filled cursor-pointer" />
</a>
