---
import BaseLayout from '@/layouts/base-layout.astro'
---

<BaseLayout title="404 - octohash">
  <div class="m-auto flex flex-col gap-4">
    <h1 class="text-3xl font-bold">404</h1>
    <p class="text-foreground/85">Nice to meet you tho!</p>
    <a href="/" class="text-muted-foreground/75 font-mono hover:text-foreground/85">cd..</a>
  </div>
</BaseLayout>
