---
import BaseLayout from '@/layouts/base-layout.astro'
---

<BaseLayout title="404 - octohash">
  <div class="prose m-auto">
    <h1>Not Found</h1>
    <p>The page was not found.</p>
    <a href="/" class="font-mono op50 hover:op75">cd..</a>
  </div>
</BaseLayout>
