---
import BaseLayout from '@/layouts/base-layout.astro'
---

<BaseLayout title="404 - octohash">
  <div class="m-auto">
    <h1 class="mb-2 text-3xl font-bold">Not Found</h1>
    <p class="mb-4 text-foreground/85">The page was not found.</p>
    <a href="/" class="font-mono text-muted-foreground/75 hover:text-foreground/85">cd..</a>
  </div>
</BaseLayout>
