---
interface Props {
  class?: string
}

const { class: className = '' } = Astro.props
---

<button
  type="button"
  data-dark-toggle
  class:list={['cursor-pointer border-none bg-transparent p-0', className]}
  aria-label="Toggle dark mode"
>
  <div
    data-dark-toggle-icon
    class="i-ri:sun-line hover:i-ri:sun-fill dark:i-ri:moon-line hover:dark:i-ri:moon-fill"
  />
</button>

<script>
  import { useDark } from '@/composables/use-dark'

  useDark(document.querySelector<HTMLButtonElement>('[data-dark-toggle]'))
</script>
