---
import { formatDate } from '@/utils'

interface FrontmatterLike {
  title?: string
  subtitle?: string
  display?: string
  date?: string | Date
  duration?: string
}

interface Props {
  frontmatter: FrontmatterLike
  backPath?: string
  showBack?: boolean
}

const {
  frontmatter,
  backPath = frontmatter.date ? '/posts' : '/',
  showBack = (frontmatter.display || frontmatter.title) !== 'About',
} = Astro.props
---

<div class="m-auto mb-8">
  <div id="prose-container">
    <div class="flex items-center justify-between">
      <h1 class="mb-0 text-4xl font-bold leading-tight">
        {frontmatter.display || frontmatter.title}
      </h1>
    </div>

    {
      frontmatter.subtitle && (
        <p class="text-lg text-foreground/85 !mt-0.5">
          {frontmatter.subtitle}
        </p>
      )
    }
    {
      frontmatter.date && (
        <p class="text-foreground/85 !mt-0.5">
          {formatDate(frontmatter.date, false)} {frontmatter.duration && <span>· {frontmatter.duration}</span>}
        </p>
      )
    }

    <article>
      <div class="prose">
        <slot />
      </div>
    </article>
  </div>

  {
    showBack && (
      <div>
        <span class="font-mono text-muted-foreground/75">{'>'} </span>
        <a href={backPath} class="font-mono text-muted-foreground/75 hover:text-foreground/85">
          cd..
        </a>
      </div>
    )
  }
</div>

<script>
  import mediumZoom from 'medium-zoom'

  const zoom = mediumZoom('[data-zoomable]', { background: 'oklab(0 0 0 / 0.5)' })
  zoom.attach('[data-zoomable]')
</script>
