---
interface Props {
  class?: string
}

const { class: className = '' } = Astro.props
---

<a href="https://x.com/octohash" target="_blank" rel="noopener" class={className}>
  <div class="i-ri:twitter-x-line hover:i-ri:twitter-x-fill cursor-pointer" />
</a>
