.prose-compact {
  & p {
    margin-block: 0.75rem;
  }

  & h2 {
    margin-block: 1.25rem;
  }

  & hr {
    margin: 1em auto;
  }

  & ul,
  & ol {
    margin-block: 0.5rem;
  }

  & li {
    margin-block: 0.25rem;
  }
}
